.card {
  padding: 0 20px 20px 20px;
  height: 350px;
  width: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 16px 16px 23px -4px rgba(0,0,0,0.75);
  transition: box-shadow 0.6s;
}
.card:hover {
  cursor: pointer;
  box-shadow: 16px 16px 23px 10px rgba(0,0,0,0.75);
}

.card-main-styles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-main-styles label {
  margin-top: 10px;
  font-weight: 500;
}

.card-main-styles img {
  background-size: cover;
  /*border-radius: 50%;*/
}

.card-description {
  font-size: 12px;
  padding: 20px;
  text-align: center;
}
