<body>

<nav>
  <a href="https://www.w3schools.com/" target="_blank ">W3Schools</a>
  <a href="https://www.frontendmentor.io/" target="_blank ">Frontend Mentor</a>
  <a href="https://platzi.com" target="_blank">Platzi</a>
  <a href="https://google.com" target="_blank">Google</a>
</nav>
<header>
  <input type="text" placeholder="What do you looking for?" autofocus>
</header>
<div class="container">


</div>
<div class="wrapper-section">
  <div class="container-section">
    <div *ngFor="let p of products">
      <app-card [product]="p"></app-card>
    </div>
  </div>
</div>

</body>
