/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}*/


header {
  background-image: url("../assets/nav-header.jpg");
  background-size: cover;
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header input {
  height: 50px;
  border-radius: 20px;
  width: 60%;
  /*background-color: black;
  color: white;*/
  font-weight: 400;
  font-size: 1rem;
}

input[placeholder] {
  text-align: center;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper-main-text {
  width: 80%;
  padding: 5rem;
  color: black;
  font-size: 1rem;
  margin-bottom: 20px;
}

.wrapper-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-section {
  margin-top: 20px;
  padding: 20px;
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.container-section div {
  margin-top: 20px;
  min-height: 350px;
}

.container-section img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  border: 1px solid rebeccapurple;
}

label {
  font-weight: bold;
  padding: 20px;
}


.btn-flotante {
  position: fixed;
  bottom: 40px;
  right: 15px;
  /*height: 48px;
  width: 48px;*/
  border-radius: 50%;
  transition: all 300ms ease 0ms;
  /*box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);*/
  z-index: 99;
  /* display: flex;
   justify-content: center;
   align-content: center;*/
  overflow: hidden;
  animation: mymove 0.9s infinite;
}

.btn-flotante span {
  color: black;
  padding: 10px;
}

.btn-flotante:hover {
  /*box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);*/
  transform: translateY(-7px);
}

@keyframes mymove {
  from {
    bottom: 40px;
    right: 15px;
  }
  to {
    bottom: 65px;
    right: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .btn-flotante {
    /* height: 28px;
     width: 28px;*/
    bottom: 20px;
    right: 15px;
  }

  .container-section {
    justify-content: center;
  }
}
