
nav {
  width: 100%;
  height: 50px;
  background-image: url("../../../../assets/nav-header.jpg");
  background-size: cover;
  display: flex;
  /*padding-left: 40px;*/
  justify-content: start;
  position: fixed;
}

.width-10 {
  width: 10%;
}

.wrapper-links {
  padding: 10px;
}

.wrapper-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.wrapper-links a:nth-child(2n) {
  margin-right: 1rem;
  margin-left: 1rem;
}
